.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-top: 40px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.month {
  height: 100%;
  width: 5%;
  margin: 5px;
}

.total {
  height: 80%;
  width: 100%;
  border: 1px solid #303F9F;
  background-color: #303F9F;
  position: relative;
}

.daylight {
  width: 100%;
  background-color: #FFEB3B;
  position: absolute;
  bottom: 0;
}

h3 {
  font-size: 15px;
  /*-webkit-transform: rotate(-90deg);*/

}
h1 {
  font-size: 36px;
  font-family: 'Bungee', cursive;
  display: inline-block;
}

#input {
  font-family: 'Roboto Condensed', sans-serif;

  padding: 10px;
  border: none;
  border-bottom: solid 2px black;
  transition: border 0.3s;
  font-size: 15px;
}
#input:focus {
  outline:none;
  border-bottom: solid 2px #FFEB3B;
}
